#titulo-IMC{
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  60px !important; 
}
#subtitle-IMC{
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  50px !important; 
}


#divForm{
height: 300px;
border-style: solid;
border-radius: 25px;
border-color: #424242;
}
#inputDiv{
    display: flex;
    height: 250px;
    justify-content: center !important;
    align-items: center !important;
}




input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}
input[type="number"]{
    font-weight: normal ;
    font-family: 'Anton', sans-serif;
    font-size:  30px; 
    color: blanchedalmond;
    background: none ;
    outline: 0px ;
    border-top: none ;
    border-left: none ;
    border-right: none ;
    width: 150px ;
}

.label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 3    px solid white;
}

/*#btnCalcular{
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  30px !important;
    border-radius: 45%;
    width:200px;
    height: 50px;
    color: black;
    background-color: linear-gradient(to right, blue, rgb(189, 27, 27));
}
*/
/*------------------------BOTONES------------------------*/
#divButton{
    margin-top: 35px;
    height: 70px;
}
#btnCalcular {
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  30px !important;
    border-radius: 25px;
    width:250px;
    height: 50px;
    background: linear-gradient(180deg, #3e4144 0%, #474b4e 100%);
    transition: all .3s;
    border: none;
    color: white;
}
#btnCalcular:hover {
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  30px !important;
    color: black;
    border-radius: 25px;
    width:250px;
    height: 50px;
    background: #f9ef23 !important;
    transition: all .3s;
    border: none
    ;
}

#btnGender {
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  30px !important;
    border-radius: 25px !important;
    width:250px;
    height: 50px;
    background: linear-gradient(180deg, #3e4144 0%, #474b4e 100% ) !important;
    transition: all .3s !important;
    border: none;
    color: white;
    margin-bottom: 10px !important;
}

#btnGender:focus {
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  30px !important;
    color: black;
    border-radius: 25px !important;
    width:250px;
    height: 50px;
    background: #f9ef23 !important;
    transition: all .3s !important;
    border: none;
    margin-bottom: 10px !important;
    ;
}

#images {
    margin-bottom: 10px !important;
  }

#progressBar{
    height:25px !important;
}