#txt-experiencia {
    font-size: 3.0em;
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    color: #f9ef23;
}

#titulo-IMC{
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  60px !important; 
}
#subtitle-IMC{
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  50px !important;
    color: black; 
}

#labeltxt{
    color: black !important;
    font-family: 'Anton', sans-serif;

}


#divForm{
height: 300px;
border-style: solid;
border-radius: 25px;
border-color: black;
background-color: #f9ef23;
border-width: 5px;
}
#inputDiv{
    display: flex;
    height: 250px;
    justify-content: center !important;
    align-items: center !important;
}



  ::-webkit-input-placeholder {
    text-align: center;
    opacity: .4;
 }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}
input[type="number"]{
    font-weight: normal ;
    font-family: 'Anton', sans-serif;
    font-size:  30px; 
    color: black;
    background: none ;
    outline: 0px ;
    border-top: none ;
    border-left: none ;
    border-right: none ;
    border-color: black;
    width: auto ;
    text-align: center;
}




/*------------------------BOTONES------------------------*/
#divButton{
    margin-top: 35px;
    height: 70px;
}
#btnCalcular {
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  30px !important;
    border-radius: 25px;
    width:250px;
    height: 50px;
    background: linear-gradient(180deg, #3e4144 0%, #474b4e 100%);
    transition: all .3s;
    border: none;
    color: white;
}
#btnCalcular:hover {
    font-weight: normal;
    font-family: 'Anton', sans-serif;
    font-size:  30px !important;
    color: black;
    border-radius: 25px;
    width:250px;
    height: 50px;
    background: #f9ef23 !important;
    transition: all .3s;
    border: none
    ;
}
